body {
	background-color: aquamarine;
}

#header {
	text-align: center;
}

#gameboard {
	text-align: center;
	align-content: center;
	margin-right: auto;
	margin-left: auto;
	width: 394px;
	height: 426px;
}

.space {
	float: left;
	border-style: solid;
	border-color: black;
	height: 65px;
	width: 50px;
	background-color: white;
	align-content: center;
	margin-right: auto;
	margin-left: auto;
}

.row {
	width: 400px;
	margin-right: auto;
	margin-left: auto;
}

.red {
	background-color: red;
}

.black {
	background-color: black;
}